:root {
  --pixel: 100px;
  --grid: 6;
  --line: 2px;
  /* colors */
  --black: #333;
  --green-0: #74d480;
  --green-1: #27f54d;
  --green-2: #06c429;
  --green-3: #0d691d;
  --blue: #1d2970;
  --red: #912616;
}

/*helper classes (dev)*/
.highlight {
  border: 2px solid red;
}

* {
  * box-sizing: border-box;
  * }

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
 /* background: #fff;*/
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  height: 352px;
  width: 198px;
  margin: 0;
  padding: 0;
  outline: 2px solid #fff;
  overflow: hidden;

  transform: scale(1.85);
}

.game-container canvas {
  image-rendering: pixelated;
}
