:root {
  --pixel: 100px;
  --grid: 6;
  --line: 2px;
  /* colors */
  --black: #333;
  --green-0: #74d480;
  --green-1: #27f54d;
  --green-2: #06c429;
  --green-3: #0d691d;
  --blue: #1d2970;
  --red: #912616;

  --scale-factor: 1.85;
}

/*helper classes (dev)*/
.highlight {
  border: 2px solid red;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: #333;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  height: 352px;
  width: 198px;
  margin: 0;
  padding: 0;
  outline: 2px solid #fff;
  overflow: hidden;

  transform: scale(var(--scale-factor));
}

.game-container canvas {
  image-rendering: pixelated;
}

.touchCircle {
  border: 2px solid red;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 100;
}

.videos-container {
  width: 198px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  /**  border: 2px solid red;
  box-sizing: border-box;
*/
}

video {
  width: 90px;
  /*  border: 2px solid grey;
*/
  border-radius: 20px;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  z-index: 1000;
}

.control-container {
  width: 198px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.accept-button {
  visibility: hidden;
}

.hangup-button {
  visibility: hidden;
}
.canvas-container {
  position: absolute;
  height: 352px;
  width: 198px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  transform: scale(var(--scale-factor));
  z-index: 0;
}

.preferences {
  position: absolute;
  object-fit: cover;
  cursor: pointer;
  background-size: cover;
  width: 15px;
  height: 15px;
  top: 5px;
  right: 5px;
  padding: 0;
  background-color: white;
  border-radius: 5px;
  z-index: 100;
}

.preferences-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
